form{
    padding: 1rem;
}

input,
label{
    display: block;
}

input{
    background-color: whitesmoke;
    border: none;
    border-bottom: 2px solid #007bff;
}

.active-inp-status{
    margin: .8rem 0;
}

.row input{
   margin-right: 2rem;
}

.row label{
    margin-right: 1rem;
}
