<h4 class="text-uppercase mt-4 ml-3">Add a new Campaign</h4>
<form [formGroup]="campaignForm">
  <div class="row pt-4 pl-4">  
        
                <label>
                    Name:
                    <input type="text" formControlName="name">
                </label>
                <label>
                    Keywords:
                    <input type="text" formControlName="keywords" placeholder="summer, music ...">
                </label>
                <label>
                    Bid Amount:
                    <input (keypress)="numberOnly($event)" type="text" maxlength="4" formControlName="bidAmount">
                </label>
                <label>
                    Active: 
                    <input type="checkbox" formControlName="status" class="active-inp-status">
                </label>
                <label>
                    Town:
                    <input type="text" formControlName="town">
                </label>
                <label>
                    Radius:
                    <input (keypress)="numberOnly($event)" type="text" maxlength="5" formControlName="radius">
                </label>
        </div>

        <div class="row pt-0 pl-4">
            <button type="button" class="btn btn-primary mt-4 mr-2 add-button" [disabled]="!campaignForm.valid" (click)="createNewCampaign()">Add campaign</button> 
                <button type="button" class="btn btn-primary mt-4 " [routerLink]="['../list']" >Back</button> 
        </div>
</form>
