  <div class="row">
    <form [formGroup]="campaignForm">
        <div class="col">
                <label>
                    Name:
                    <input type="text" formControlName="name">
                </label>
                <label>
                    Keywords:
                    <input type="text" formControlName="keywords" placeholder="summer, music ...">
                </label>
                <label>
                    Bid Amount:
                    <input (keypress)="numberOnly($event)" type="text" maxlength="4" formControlName="bidAmount">
                </label>
                <label>
                    Active: 
                     <input type="checkbox" formControlName="status" class="active-inp-status">
                </label>
                <label>
                    Town:
                    <input type="text" formControlName="town">
                </label>
                <label>
                    Radius:
                    <input (keypress)="numberOnly($event)" type="text" maxlength="5" formControlName="radius">
                </label>
                
        </div>
        <div class="col">
            <button type="button" class="btn btn-primary mt-4 ml-4" (click)="createNewCampaign()">Add campaign</button>
        </div>
    </form>
</div>
