ul {
    list-style-position: inside; 
    list-style: none;
    padding: 0;
    overflow: auto;
}

li{
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    background-color: rgb(255, 255, 255);
    border-bottom: 1px solid black;
    transition: background-color .5s;
    overflow: hidden;
    cursor: pointer;
}

li:hover{
    background-color: rgba(121, 9, 65, .1);
}

button{
    float: right;
    padding: 0 1rem;
    margin-right: 1rem;
    position: relative;
    font-size: .8rem;
}

.city-headline{
    font-weight: 700;
    padding-left: 1rem;
    color: #007bff;
}

