<div class="content">
  <div class="content-box">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-2 menu-list">
        <button type="button"  class="list-button" [routerLink]="['users']">Users</button>
        <button type="button"  class="list-button" [routerLink]="['list']">Camapigns</button>
        <p [routerLink]="['/login']" title="Log Out" (click)="logOut()"><i class="fas fa-sign-out-alt"></i></p>
      </div>
      <div class="col-sm-10 col-content bg-light">
        <router-outlet>
        </router-outlet>
      </div>
    </div>
  </div>
  </div>
</div>
